<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head><!--template met header-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:insert="fragments/header.html :: header"> </header>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-de  fault">
                <div class="panel-heading"><h1>Welcome</h1></div>
                <div class="panel-body">
                    <h3>Fines</h3>
                    <p><a href="/fine/fines">All fines</a></p>
                    <p><a href="/property/props">Change Global settings</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer" th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>