<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
    <meta charset="UTF-8"/>
    <style>
        #footer {
            width:100%;
            background-color: #483D8B;
            color: white;
            text-align: center;
            position:relative;
            float:left;
            bottom:0;
            height:60px;   /* Height of the footer */
        }
    </style>
</head>
<body>
   <div th:fragment="footer" id="footer">Quinten Spillemaeckers - Karel De Grote Hogeschool</div>
</body>
</html>